Repository TomLisankie/twist-cli: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yml:

pre-commit:
  commands:
    type-check:
      run: npm run type-check
    biome:
      glob: '*.{ts,js,json}'
      run: npx biome check --write {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{md,yml,yaml,css}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  commands:
    test:
      run: npm test

feat: add loading animations with global API proxy integration (#7)
  package-lock.json
  package.json
  src/__tests__/spinner.test.ts
  src/index.ts
  src/lib/api.ts
  src/lib/spinner.ts
Due: biome

feat: add semantic release automation for NPM publishing (#10)
  .github/workflows/release.yml
  .prettierignore
  .releaserc.json
  CHANGELOG.md
  package-lock.json
  package.json
  src/index.ts
Due: biome, prettier

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome, prettier

feat: Add tw skill command for agent skill integrations
  src/__tests__/skill.test.ts
  src/commands/skill.ts
  src/index.ts
  src/lib/skills/claude-code.ts
  src/lib/skills/content.ts
  src/lib/skills/index.ts
  src/lib/skills/types.ts
Due: biome

fix: Format error message on single line
  src/lib/skills/claude-code.ts
Due: biome

docs: update Twist API token setup instructions in README (#19)
  README.md
Due: prettier

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome, prettier

chore: [skip ci] Add manual workflow for updating twist SDK
  .github/workflows/update-twist-sdk.yml
Due: prettier

fix(deps): update to latest `@doist/twist-sdk` package
  package-lock.json
  package.json
Due: biome

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome, prettier

Add frontmatter to Twist skill and fix lint failures (#22)
  src/__tests__/skill.test.ts
  src/lib/api.ts
  src/lib/skills/content.ts
  src/lib/skills/create-installer.ts
Due: biome

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome, prettier

feat: add recipients option
  docs/SPEC.md
  src/commands/thread.ts
Due: biome, prettier

fix: strictly validate user IDs in --notify to reject non-numeric input
  src/commands/thread.ts
Due: biome

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome, prettier

docs: add AGENTS.md with skill content sync instructions (#29)
  AGENTS.md
  CLAUDE.md
Due: prettier

fix: add missing flags and commands to skill content (#30)
  src/lib/skills/content.ts
Due: biome

chore(release): 1.6.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome, prettier

feat: add --comment flag to thread view (#28)
  README.md
  src/__tests__/lib/refs.test.ts
  src/commands/thread.ts
  src/lib/api.ts
  src/lib/skills/content.ts
Due: biome, prettier

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome, prettier

feat: Default to public channels only, add --include-private-channels option (#27)
  src/__tests__/lib/public-channels.test.ts
  src/commands/channel.ts
  src/commands/inbox.ts
  src/commands/search.ts
  src/commands/thread.ts
  src/index.ts
  src/lib/public-channels.ts
Due: biome

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome, prettier

feat: upgrade twist-sdk to v2.0.1 and use entity.url instead of getFullTwistURL() (#31)
  package-lock.json
  package.json
  src/commands/inbox.ts
  src/commands/msg.ts
  src/commands/thread.ts
Due: biome

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome, prettier

fix(deps): Update to 2.0.2 of `@doist/twist-sdk` (#32)
  package-lock.json
  package.json
Due: biome

chore(release): 1.9.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome, prettier

feat: lenient CLI ergonomics — implicit view, workspace flag aliases, conflict detection (#34)
  AGENTS.md
  src/__tests__/channel.test.ts
  src/__tests__/inbox.test.ts
  src/__tests__/msg.test.ts
  src/__tests__/search.test.ts
  src/__tests__/thread.test.ts
  src/__tests__/user.test.ts
  src/commands/channel.ts
  src/commands/inbox.ts
  src/commands/msg.ts
  src/commands/search.ts
  src/commands/thread.ts
  src/commands/user.ts
  src/lib/skills/content.ts
Due: biome, prettier

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome, prettier

chore: auto-request Frontend Product reviewer on PRs (#33)
  .github/workflows/request-reviews.yml
Due: prettier

perf: lazy-load commands and show early spinner for instant feedback (#35)
  src/__tests__/spinner.test.ts
  src/index.ts
  src/lib/markdown.ts
  src/lib/spinner.ts
Due: biome

chore(release): 1.10.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome, prettier

Remove outdated reference to workspaces command
  README.md
Due: prettier
